*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*  removing default scrollbar styling */
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
/* Header */
.Header{
    z-index: 9999999;
    height: 60px;
    display: flex;
    background-color: rgb(223, 223, 223);
    border-bottom: 1px solid rgb(153, 153, 153);
}
.logoCont{
    height: 100%;
    min-width: 75px;
    border-right: 1px solid rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


/*  sidebar Styles */
.Sidebar{
    z-index: 9999999;
        background-color: rgb(223, 223, 223);
    height: 94vh;
    width: 75px;
    font-size: 20px ;
    border-right: 1px solid rgb(153, 153, 153);
}
.sidebarNavIconsList{
    width: 100%;
    height: 55vh;
}
.sidebarNavIconList2{
    width: 100%;
    height: 20vh;
    margin-bottom: 4rem;
}
.sidebarNavIconsListElem{
    list-style-type: none;
    border: 1px solid rgb(168, 255, 252);
    border-radius: 9px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/*  hover */
.sidebarNavIconsListElem:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgb(171, 146, 255);
    color: #fff;
    animation: shake 1s infinite ease-in-out;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*  sidebar Ends */
/*  header ----------------------------------------------------------------------*/
.navbarCont {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchForm {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm input {
    width: 90%;

}
.userOrientedIconOptions {
    width: 50vw;
    padding: 0.5rem 0px;
}

.userOrientedIconOptions button {
    padding: 0px 1rem;
    font-size: 19px;
}

.searchOptions {
    width: 20%;
    font-size: 19px;
    display: flex;
    justify-content: flex-start;
}
.searchOptions button{
    padding: 0px 5px;
}

.cartContIcon {
    width: 5%;
}

/*  header ends------------------------------------------------------------- */

/* compContainer */
.CompContainer{
   width: 100vw;
   height: 96vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   background-color: rgb(139, 139, 139);  
}

.CompContainer::-webkit-scrollbar{
    display: none;
}




/* ----------------------------------Home-------------------------------*/
.welcomeHomeContSliderCont{
    z-index: 999;
    background-image: url("https://images.unsplash.com/photo-1674020332280-579b95f2b267?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.welcomeHomeCont{
    height: 35vh;
    color: #fff;
    background: linear-gradient(45deg, rgb(177, 177, 177),rgb(174, 113, 232));
}
.welcomeHomeButtonCont{
    width: 250px;
    z-index: 99;
}
.welcomeHomeCont h4,span{
    z-index: 99;
}
.welcomeHomeButtonCont button{
    background-color: #fff;
    color: rgb(0, 0, 0);
}
.welcomeHomeButtonCont button:hover{
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.799);
}
.illustrationCont{
    user-select: none;
}
/*  slider ----------------------------------------------------------------------*/
.arrowIcons{
    width: 60px;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(0.1rem);
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.arrowIcons:hover{
    transition: all 0.2s ease-in-out;
    color: rgb(171, 146, 255);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.img-container{
    width: 100%;
    height: 48vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 0px 0.5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-child {
    animation: fade 0.8s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container-child img {
    width: 100%;
    user-select: none;
    animation: shake 0.2s ease-in-out;
}
.onScrollAnimation{
    animation: fade 0.3s ease-in-out reverse;
}
/*  categories */
.shakeIcons{
    animation: shake 2s infinite ease-in-out;
}
.catHeading{
    color: #fff;
    min-width: 100vw;
    background: linear-gradient(45deg, rgba(177, 177, 177,0.8), rgb(174, 113, 232));
}



/*  productContainer ---------------------------------------------------------------------------*/
.productContainerCont{
    background-color: rgb(207, 207, 207);
    padding: 1rem 0px;
}
.ProductCard{
    width: 20vw;
    height: 48vh;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: rgb(174, 113, 232);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0,0.4) ;
}
.allProdFilterationCont{
   background-color: rgb(174, 113, 232);
   color: #fff;
   height: 50vh;
}
.bodyHeading{
    max-height: 3vh;
    overflow: hidden;
}
.productImgContainer{
    width: 20vw;
    height: 75%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImgContainer img{
    width: 80%;
}
.productCartBtnGroup button{
     padding: 7px 15px;
     color: #fff;
     backdrop-filter: blur(0.3rem);
     background-color: rgba(83, 18, 143, 0.8);
     border-radius: 5px;
     transition: all 0.2s ease-in-out;
}
.clickedSavedBtn{
    background-color: #fff;
    color: red;
    transition: all 0.2s ease-in-out;
}
@keyframes fade{
    0%{
        opacity : 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}



/*  signUp Page */
  .SignUp{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 207);
  }

@media only screen and (max-width : 1100px ){
    /* header  */
    .userOrientedIconOptions {
            width: 30vw;
        }
    /*  header ends */
       .illustrationCont img{
           display: none;
       }
       .arrowIcons{
            max-height: 25vh;
        }
        .img-container{
            max-height: 25vh;
        }
        .welcomeHomeContSlider{
            max-height: 28vh;
        }
        .ProductCard {
            width: 30vw;
            height: 43vh;
            padding: 5px 0px;
            border-radius: 10px;
            background-color: rgb(174, 113, 232);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        }
        .categoryCard{
            width: 50%;
        }

}

@media only screen and (max-width:750px){
        /* header  */
            .userOrientedIconOptions {
                width: 10vw;
            }
            .userOrientedIconOptions button{
                margin: 0;
                padding: 0px 5px;
            }
        
            /*  header ends */
        .arrowIcons {
                max-height: 18vh;
                width: 1rem;
                text-align: center;
                padding: 0px;
                font-size: 16px;
            }
        
            .img-container {
                max-height: 18vh;
            }
        
            .welcomeHomeContSlider {
                max-height: 28vh;
            }
            .ProductCard {
                width: 60vw;
                height: 43vh;
            }
            .Sidebar{
                display: none;
            }
            .categoryCard {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .categoryCard img{
                width: 95%;
            }
}