*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*  removing default scrollbar styling */
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

/*  sidebar Styles */
.Sidebar{
    background-color: aquamarine;
    height: 98vh;
    width: 75px;
    font-size: 16px ;
}
.sidebarNavIconsList{
    width: 100%;
    height: 60vh;
}
.sidebarNavIconList2{
    width: 100%;
    height: 25vh;
}
.sidebarNavIconsListElem{
    list-style-type: none;
    background-color: azure;
    padding: 0.8rem;
    border-radius: 9px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*  sidebar Ends */